
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.profile-card-social__item {
      display: flex;
      flex-direction: column;
      width: 55px;
      height: 55px;
      margin: 15px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all .3s;

      @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 10px;
      }

 }

 a, a:hover {
   text-decoration: none;
 }
 .profile-card-social__item:hover {
  transform: scale(1.2);
 }

.facebook {
   background: linear-gradient(45deg, #3b5998, #0078d7);
   box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
 }

 .twitter {
   background: linear-gradient(45deg, #1da1f2,#0e71c8);
   box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
 }

 .instagram {
   background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
   box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
 }
